body {
    background: url("../assets/images/bg.jpg") no-repeat;
    background-size: 100vw 100vh;
    padding: 20px;
}
header{
    display: flex;
    align-content: center;
    align-items: center;
}
header img{
    width: 80vh;
    margin:0 auto;
}
.social {
    margin-top: 10px;
    width: 40vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
/*to change icon size*/
.icon_box img{
    height: 50px;
}
/*to change icon text*/
.social_icons p {
    font-weight: 600;
    font-size: 1rem;
}
/*to change gap between icon change gap property*/
.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.icon_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}
.fm{
    color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    width: 100%;
}
.fm-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 3px;
    padding:0 5px;
    margin-bottom: 10px;
}
.fm-title h2{
    margin: 0 3px;
    font-size: 1.2rem;
}
.fm-title div{
    margin-top: -3px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
@media only screen and (max-width: 700px) {
    header img{
        width: 100%;
    }
    .social {
        margin-top: 30px;
    }
    .fm-title h2{
        font-size: 1rem;
        text-align: center;
    }

    /*to change mobile screen join us and icons text*/
    .social h2,.social_icons p{
        font-size: 0.8rem;
    }
    /*to change mobile screen the gap between icons*/
    .social_icons {
        gap: 5px;
    }

    /*to change the mobile screen icons sizes*/
    .icon_box img{
        height: 40px;
    }
}


